html {
  background-color: rgb(32, 32, 32);
}

head p {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  text-align: left;
  padding-left: 2%;
}

title {
  color: black;
  font-family: Helvetica;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 300%;
  text-align: left;
  padding-left: 2%;
}

hr {
  color: gray;
  margin-left: 2%;
  margin-right: 2%;
}

#Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

#Home,
#Commands,
#Contact,
#ConfigGuide {
  float: left;
}

#Home a,
#Commands a,
#Contact a,
#ConfigGuide a,
#Invite a {
  display: block;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica;
}

#Home a:hover,
#Commands a:hover,
#Contact a:hover,
#ConfigGuide a:hover,
#Invite a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

#Home a.active,
#Commands a.active,
#Contact a.active,
#ConfigGuide a.active,
#Invite a.active {
  background-color: rgb(187, 187, 187);
  color: white;
}

p {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  margin-left: 2%;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 300%;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 150%;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

h5 {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 150%;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

blockquote {
  border-left: 10px solid #ccc;
  color: rgb(160, 160, 160);
  font-family: Helvetica;
  font-size: 100%;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

#Features {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  margin-left: 2%;
}

hr {
  color: gray;
  margin-left: 2%;
  margin-right: 2%;
}

#AllCommands {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

#User {
  width: 32%;
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#Mod {
  width:32%;
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#Config {
  width: 32%;
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#UserCommands {
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#ModCommands {
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#ConfigCommands {
  text-align: center;
  padding: 15px;
  border-bottom: 0px;
}

#Header1:hover {
  background-color: rgb(32, 32, 32);
}

#Header2:hover {
  background-color: rgb(32, 32, 32);
}

#CommandsTable {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

th {
  border-bottom: 1px solid rgb(209, 209, 209);
  text-align: center;
  padding: 15px;
}

td {
  border-bottom: 1px solid rgb(128, 128, 128);
  text-align: center;
  padding: 15px;
}

tr:hover {
  background-color: #585858;
}

body {
  margin: 0;
}